<div class="d-ctx-snippet-edit form-actions" style="display: none;">
  <input type="button" class="d-ctx-snippet-button form-submit" value="" />
  <div class="d-ctx-snippet-status description"></div>
</div>
